<div class="page-header">
  <%= link_to event_combat_teams_path(@event, @combat), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_event_combat_team_path(@event, @combat, @team), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show team</h1>
</div>

<dl class="dl-horizontal">
  <dt>Number:</dt>
  <dd><%= @team.number %></dd>

  <dt>Combat:</dt>
  <dd><%= link_to @team.combat.name, event_combat_path(@event, @combat) %></dd>

</dl>
