<% if registrator_signed_in? %>
    <li>
      <%= link_to('Logout', destroy_registrator_session_path, :method => :delete) %>
    </li>
<% else %>
    <li>
      <%= link_to('Login', new_registrator_session_path)  %>
    </li>
<% end %>