<div class="page-header">
  <%= link_to event_registers_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Назад
  <% end %>
  <%= link_to event_register_path(@event, @register), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Показати
  <% end %>
  <h1>Редагування заявки</h1>
</div>

<%= render 'form' %>
