<tr>
  <td><%= link_to user.name, user %></td>
  <td><%= user.email %></td>
  <td>
    <span class="text-warning"><%= 'Тренер' if user.trainer? %></span>
    <span class="text-success"><%= 'Спортсмен' if user.student? %></span>
  </td>
  <td class="actions">

  </td>
</tr>
