<h1>My profile</h1>

<div class="profile-menu">
  <div class="row">
    <div class="col-sm-3">
      <a href="#" class="profile-menu-link show-my-sportsmen">
        <i class="fa fa-users"></i>
        <p>Мои спортсмены</p>
      </a>
    </div>
    <div class="col-sm-3">

      <%= link_to '#', class: 'profile-menu-link' do %>
        <i class="fa fa-user-plus"></i>
        <p>Новый спортсмен</p>
      <% end %>
    </div>

  </div>
</div>

<div class="my-sportsmen">
  <h3>Мои спортсмены</h3>
  <table class="table table-striped">
    <% @students.each do |student| %>
        <%= render partial: 'student', locals: { student: student } %>
    <% end %>
  </table>
</div>